## Recommended Sites for Pandas

* [Datascience Made Simple](http://www.datasciencemadesimple.com)
* [Pandas tutorial by dataquest](https://www.dataquest.io/blog/pandas-python-tutorial/) [Blog]
* [Pandas official doc](http://pandas.pydata.org/pandas-docs/stable/) [Highly recommended]
* [Experiments with data](https://trainings.analyticsvidhya.com/courses/course-v1:AnalyticsVidhya+EWD01+2018_EWD_T1/about) [Course]

## Advance Pandas

In this notebook, we will be going through a lot of different concepts (that will help you all realize why pandas is so much important when it comes to Data Analysis). Mastering all the following concepts is not at all important, but knowing that they exist can be an advantage. You can always learn these concepts as and when your task in hand demands. These are all the concepts that are mentioned in this notebook
* [Sorting with nlargest, nsmallest and sort_values](#Sorting with nlargest, nsmallest and sort_values)
* [Replacing values in dataframe/series](#Replacing values in dataframe/series)
* [Renaming columns and indexes in datafram/series](#Renaming columns and indexes in datafram/series)
* [Handling Missing Values](#Handling Missing Values)
* [Descriptive stats](#Descriptive stats)
* [Combining dataframes](#Combining dataframes)
* [String manipulations in pandas](#String manipulations in pandas)
* [Plotting in pandas](#Plotting in pandas)

<span style="color:brown">** Note: **</span> All the concepts are not covered completely. Links to documentation are provided for most of the concepts covered here, do visit them if you want to learn them in greater details or to master them. (recommended !)

In [ ]:
import pandas as pd
df = pd.read_csv('data/sample_data.csv', index_col=0)
df

## Sorting with nlargest, nsmallest and sort_values

### <span style="color:brown"><b>Note :</b></span> In all the 3 methods, an ERROR is raised if dtype of the column is not supported.

###  nlargest

~~~ python
    > df.nlargest(n,columns)
~~~

where,<br>
*n - selects the number of row to be returned<br>
*columns - the columns that are to be considered

In [ ]:
df.nlargest(3,['height'])

###  nsmallest

~~~ python
    > df.nsmallest(n,columns)
~~~

where,<br>
*n - selects the number of row to be returned<br>
*columns - the columns that are to be considered

In [ ]:
df.nsmallest(3,['height','age','score'])

### sort_values

~~~ python
    > df.sort_values(by,ascending)
~~~

where,<br>
*by - the column name(s) that are to be considered<br>
*ascending - True/False, default is *True*

In [ ]:
df.sort_values('age', ascending=True).head(3)

## Replacing values in dataframe/series

General syntax for replace function is as follows:

~~~ python
    > df.replace(to_replace, value)
~~~

**to_replace** and **value** both can be *str, regex, list, dict, Series, int, float, or None*

In [ ]:
df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                    'B': [5, 6, 7, 8, 9],
                    'C': ['a', 'b', 'c', 'd', 'e']})
df

In [ ]:
df.replace(0, 5)

### List-like `to_replace`

In [ ]:
df.replace([0, 1, 2, 3], 4)

In [ ]:
df.replace([0, 1, 2, 3], [4, 3, 2, 1])

### dict-like `to_replace`

In [ ]:
df.replace({0: 10, 1: 100})

In [ ]:
df.replace({'A': 0, 'B': 5}, 100)

In [ ]:
df.replace({'A': {0: 100, 4: 400}})

## Renaming columns and indexes in datafram/series

General syntax for rename function is as follows:

    > df.rename(index, columns)

index and columns both are *dict-like*.

In [ ]:
df = df.rename(columns={"A": "a", "B": "c"}, index={0:100})
df

In [ ]:
df.rename(index={0: "zero", "B": "c"})

## Handling Missing Values

### fillna()

    > df.fillna(value)
   
*value - scalar, dict*

In [ ]:
import numpy as np

In [ ]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                    [3, 4, np.nan, 1],
                    [np.nan, np.nan, np.nan, 5],
                    [np.nan, 3, np.nan, 4]],
                    columns=list('ABCD'))
df

In [ ]:
df.fillna(0)

In [ ]:
values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
df.fillna(value=values)

### dropna

    > df.dropna(axis=0, how='any', thresh=None, subset=None)
    
* **how** - {'all', 'any'}, default is 'any'.<br>
* **thresh** - How many non-NA values Require.<br>
* **subset** - Labels along other axis to consider.<br>

In [ ]:
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                    "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                    "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                             pd.NaT]})
df

In [ ]:
df.dropna() # drops all the rows that have atleast one element missing

In [ ]:
df.dropna(axis=1) # drops all the columns that have atleast one element missing.

In [ ]:
df.dropna(how='all')  #Drop the rows where all elements are missing.

In [ ]:
df.dropna(thresh=2) #Keep only the rows with at least 2 non-NA values.

In [ ]:
df.dropna(subset=['name', 'toy']) # Define in which columns to look for missing values.

### replace 

#### You can also use replace() to handle missing values.

## Descriptive stats 

    > abs() - Return a Series/DataFrame with absolute numeric value of each element.
    > count() - Count non-NA cells for each column or row.
    > max() - returns the maximum of the values in the object.
    > min() - returns the minimum of the values in the object.
    > mean() - returns the mean of the values in the object.
    > median() - returns the median of the values in the object.
    > mode() - returns the mode of the values in the object.
    > sum() - returns the sum of the values in the object.

<span style="color:brown"> **Note: **</span> all the methods take *axis* as an argument.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('data/sample_data.csv', index_col=0)
df = df[['age', 'height', 'score']].copy()
df

In [ ]:
df['score'] = 5
df

In [ ]:
df['height'].unique()

### value_counts()

    Returns object containing counts of unique values.
<span style="color:brown"> **Note: **</span> only specific to series data structure.

## Combining dataframes

Pandas provides various facilities for easily combining together Series and DataFrame.<br>
<span style="color:brown">** Note:** </span> refer the [Merge, join and concat documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html) for details

### concat() - based on index / column labels

    > pd.concat(objs, axis=0, join='outer', join_axes=None)
    
   * **axis** : {0, 1, …}, default 0. The axis to concatenate along.
   * **join** : {‘inner’, ‘outer’}, default ‘outer’. How to handle indexes on other axis(es). Outer for union and inner for intersection.
   * **join_axes** : list of Index objects. Specific indexes to use for the other n - 1 axes instead of performing inner/outer set logic.

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'C': ['C0', 'C1', 'C2', 'C3'],
                     'D': ['D0', 'D1', 'D2', 'D3']},
                     index=[0, 1, 2, 3]) 

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                     'B': ['B4', 'B5', 'B6', 'B7'],
                     'C': ['C4', 'C5', 'C6', 'C7'],
                     'D': ['D4', 'D5', 'D6', 'D7']},
                      index=[4, 5, 6, 7])
 

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                     'B': ['B8', 'B9', 'B10', 'B11'],
                     'C': ['C8', 'C9', 'C10', 'C11'],
                     'D': ['D8', 'D9', 'D10', 'D11']},
                     index=[8, 9, 10, 11])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
result = pd.concat([df1,df2,df3], axis=1)
result

![](images/merging_concat_basic.png)

In [ ]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                     'D': ['D2', 'D3', 'D6', 'D7'],
                     'F': ['F2', 'F3', 'F6', 'F7']},
                    index=[2, 3, 6, 7])

result2 = pd.concat([df1, df4], axis=1)
result2

![](images/merging_concat_axis1.png)

### append() 

A useful shortcut to concat() are the append() instance methods on Series and DataFrame.<br>
Append rows of other to the end of this frame, returning a new object. Columns not in this frame are added as new columns
~~~ python
> df.append(df2)
~~~

### Merge and join - based on key values
#### Merge()
 Pandas provide join operations very similar to relational databases like SQL. *merge()*,a single function,  as the entry point for all standard database join operations between DataFrame objects
 ~~~ python
> pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None)
 ~~~
 * **how:** {'left', 'right', 'outer', 'inner'}. Defaults to inner.<br>
 
#### Join()
Join columns with other DataFrame either on index or on a key column. Efficiently Join multiple DataFrame objects by index at once by passing a list.
~~~ python
> DataFrame.join(other, on=None, how='left') 
~~~

## String manipulations in pandas

Python has long been a popular raw data manipulation language in part due to its ease of use for string and text processing. Most text operations are made simple with the string object’s built-in methods. For more complex pattern matching and text manipulations, regular expressions may be needed. pandas adds to the mix by enabling you to apply string and regular expressions concisely on whole arrays of data, additionally handling the annoyance of missing data

Pandas is extremely power extremely powerful when its comes to text data. Go through [the documentation](https://pandas.pydata.org/pandas-docs/stable/text.html) and you will realize its!

## Plotting in pandas

Rememebered, pandas is python library for data manipulation and data analysis. Untill now we have mostly looked at the manipulation part. You can plot your Pandas dataframes and series for visualization and analysis. Pandas have many powerful built-in functoins for data visualization and also, are very easy to use.

Refer [this documentation](https://pandas.pydata.org/pandas-docs/stable/visualization.html) to learn more about data visualization in pandas