#  <span style="color:blue">Introduction to Python</span>

####  __<span style="color:brown">Note 1</span>: Python is a case sensitive programming language__

#### __<span style="color:brown">Note 2</span>: Python is a loosely typed language.__

#### __<span style="color:brown">Note 3</span>: Python is an interpreted language typed language.__

#### __<span style="color:brown">Note 4</span>: Python provides no braces to indicate blocks of code for class and function definitions or flow control. Blocks of code are denoted by line indentation, which is rigidly enforced.__

## __<span style="color:blue">Assigning values to variables</span>__

### <span style="color:orange">(a) Single variable</span>

In [1]:
a = 1 # single value, single variable
print(a)

1

### <span style="color:orange">(b) Multi variable assigment</span>

In [3]:
b = c = d = 3 # single value, multiple variables
print(b, c, d)

3 3 3

In [4]:
x, y, z = 'john', 'dime', 'harry' # multiple values, multiple variables
print(x,y,z)

john dime harry

## __<span style="color:blue">Standard Data types</span>__

1. Numbers
    - int
    - long
    - float
    - complex
2. Strings
3. __List__
4. __Tuples__
5. __Dictionary__

In [5]:
n = 1
m = 1.9
l = 2390850384509485023983209483209
print(n,m,l)

1 1.9 2390850384509485023983209483209

In [2]:
a = 'Johnljfaldsk#@$jldkfalk $54'
print(a)

Johnljfaldsk#@$jldkfalk $54

### <span style="color:orange">(a) List</span>

In [3]:
### Creating a list ####

l = [2, 4, 'johns', 32.44] # [any standard data type]
print(l)

[2, 4, 'johns', 32.44]

In [1]:
### accessing list elements ###
n = l
print(n)
print(n[0]) # single element, list[index]
print(n[3:]) # all the elements with index greater than or equal to 3, list[starting_index:]
print(n[:4]) # all the elements with index less than 4, list[:last_index]
print(n[1:4]) # all the elements starting from index 1 untill 3 , list[starting_index: last_index]
print(n[:4][2])

NameError: name 'l' is not defined

In [11]:
### changing the values of the element #### 

n[2] = 1 
print(n)

[2, 4, 1, 32.44]

In [13]:
### List operations ###

m = l*2 # a*n copies list a, n times 
n = l+m # a+b adds list b to list a
print(l)
print(m)
print(n)

[2, 4, 1, 32.44]
[2, 4, 1, 32.44, 2, 4, 1, 32.44]
[2, 4, 1, 32.44, 2, 4, 1, 32.44, 2, 4, 1, 32.44]

### <span style="color:orange">(b) Tuples</span>

#### <span style="color:brown">Note</span>: Tuples are same as list but are immutable.

In [5]:
### Creating a Tuple ###

t = (2,4, 'john', 32.44)
t2 = tuple(l)

print(t)
print(t2)

(2, 4, 'john', 32.44)
(2, 4, 'johns', 32.44)

In [6]:
t[2:]

('john', 32.44)

In [7]:
### values cannot be changed ###

t[0] = 4

TypeError: 'tuple' object does not support item assignment

In [21]:
### questions ###

u = t*2
v = t+u

print(u)
print(v)

(2, 4, 'john', 32.44, 2, 4, 'john', 32.44)
(2, 4, 'john', 32.44, 2, 4, 'john', 32.44, 2, 4, 'john', 32.44)

### Questions

In [23]:
a = (1,3)
b = ['john', 'Harry', 'tom']
c = ('new', 'Tuple', 10, 20)

# Q1. (['john', 'Harry', 'tom'], (1,3))
# Q2. ('new', 'Tuple', (1,3))
# Q3. ['john', (1,3), 'tom']

### <span style="color:orange">(c) Dictionary</span>

#### <span style="color:brown">Note</span>: Dictionary in python is unordered

In [3]:
### creating a Dictionary ###

d1 = {'one': 1, 'two': 2, 1.33: 3}

d1["three"] = 3 # adding new key

print(d1)
d1['one'] = 10 # changing values
print(d1['one'])

{'one': 1, 'two': 2, 1.33: 3, 'three': 3}
10

In [4]:
### dictionary functions ###

print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['one', 'two', 1.33, 'three'])
dict_values([10, 2, 3, 3])
dict_items([('one', 10), ('two', 2), (1.33, 3), ('three', 3)])

## __<span style="color:blue">Type(), help() and input()</span>__

### <span style="color:orange">(a) type()</span>

In [2]:
# type(a) -> returns the type of 'a'
# use PRINT() if you want to print all the outputs together, else only the last output will be printed.

list1  = [1,4,4,5,5]
print(type('karan'))
print(type(1))
print(type(list1))

<class 'str'>
<class 'int'>
<class 'list'>

### <span style="color:orange">(b) help()</span>

In [5]:
# help(a) -> returns the class definition for 'a'
# use PRINT() if you want to print all the outputs together, else only the last output will be printed.


#help(str)
# help('karan') # same as help(str)
# help(int)
# help(3) # same as help(int)
# help(list)
 help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if D has a key k, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Returns a new dict with keys from iterable and values equal to value.
 |
 |  get(...)
 |      D.get(k[,d]) -> D[k] if k in D, else d.  d defaults to None.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(...)
 |      D.popitem() -> (k, v), remove and return some (key, value) pair as a
 |      2-tuple; but raise KeyError if D is empty.
 |
 |  setdefault(...)
 |      D.setdefault(k[,d]) -> D.get(k,d), also set D[k]=d if k not in D
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### <span style="color:orange">(c) input()</span>

In [6]:
# choice = input('some string') -> the input value is stored as a STRING in 'choice'

a = input('enter your age... please!')

enter your age... please!9

## __<span style="color:blue">Operators</span>__

### <span style="color:orange">(a) Arithmetic Operators</span>

In [8]:
n = 5
m = 11

print('additions : %d' % (m+n)) # addition
print('subtraction : %d' % (m-n)) # subtraction
print('multiplication : %d' % (m*n)) # multiplication
print('division : %f' % (m/n)) # division
print('modulus : %d' % (m%n)) # modulus (remainder)
print('floor division : %d' % (m//n)) # floor division (quotient)
print('exponent : %d' % (m**n)) # exponent

additions : 16
subtraction : 6
multiplication : 55
division : 2.200000
modulus : 1
floor division : 2
exponent : 161051

In [3]:
'karan_'*2

'karan_karan_'

In [6]:
[1,2,3]+[324,324]

[1, 2, 3, 324, 324]

### <span style="color:orange">(b) Logical Operators</span>

    - and -> (a and b) 
    - or -> (a or b)
    - not -> not(a)

In [12]:
# use PRINT() if you want to print all the outputs together, else only the last output will be printed.

#not(True)
not(int)
# not(str)
# not(dict)

False

In [8]:
not(None)

True

In [15]:
not(0)

True

### <span style="color:orange">(c) Membership operators</span>

    - in
    - not in

In [17]:
7 not in [1,2,3,4,5]

True

### <span style="color:orange">(d) Comparison Operators</span>
     (a == b) -> True, if a 'is equal to' b
     (a != b) -> True, if a 'is not equal to' b
     (a <> b) -> True, if a 'is not equal to' b
     (a < b)  -> True, if a 'is less than' b
     (a > b)  -> True, if a 'is greater than' b
     (a <= b) -> True, if a 'is less than or equal to' b
     (a >= b) -> True, if a 'is greater than or equal to' b

## __<span style="color:blue">Loops</span>__


### <span style="color:orange">Range()</span>

In [17]:
# range(start, end, steps) -> returns a range object

#list(range(5)) # range(0,5)
#list(range(1,11)) #range(1,11) ; steps default value is 1
list(range(1,12,2)) # range(1,10)

[1, 3, 5, 7, 9, 11]

In [18]:
# to convert the range object to a list use 'list()'

list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
for i in range(5):
    print('hello')
print('world')

hello
hello
hello
hello
hello
world

In [26]:
list2 = [2,34, 687 ,78, 948, 8.99]
list3 = ['shubham','Karan','arjun','elon']
for i in list3:
    print(i)

shubham
Karan
arjun
elon

In [17]:
list(range(0,-1))

[]

In [27]:
for i in "Hello World":
    print(i)

H
e
l
l
o

W
o
r
l
d

### <span style="color:orange">(a) For loop</span>

In [11]:
for i in ['1',5,6,[8,3]]:
    print(i)

1
5
6
[8, 3]

In [31]:
# in python, for is meant to operate on iterables.

for i in range(10):    # for 'element' in 'sequence' :
     pass
print(i)           # statements to execute

9

In [29]:
for i in ['john', (1, 3), 'tom']:
    print(i)

john
(1, 3)
tom

### Question

In [ ]:
"""
1. *****
   ****
   ***
   **
   *
   
2. *****
   ****
   ***
   **
   *
   **
   ***
   ****
   *****
"""

### <span style="color:orange">(b) While loop</span>
#### <span style="color:brown">Note</span> : you must increment or decrement the condition variable to make the expression FALSE at some point

In [ ]:
a = 1
while (a<10):     # while (expression/condition):
    print(a)      # statements to be executed 
    a += 1        # incrementing the variable a

In [ ]:
list(range(10))

#### <span style="color:brown">Note</span> :Range is quiet smart and dont let you define infinite list. So its not possible to make infinite for loop using range(), but you have other functions to help you with it.

In [3]:
a = range(5,3,2)
list(a)   # notice that the output is an empty list

[]

## __<span style="color:blue">Decision Making</span>__

### <span style="color:orange">(a) if statement</span>

In [37]:
a = 1
if (a == 1):    # if (expression/condition):
    print(a) # statements to execute

1

### <span style="color:orange"> (b) if - else statement</span>

In [39]:
a = 0
if (a == 1):     # if (expression/condition):
    print(True)  # statements to execute
else:            # else:
    print(False) # statements to execute

False

### <span style="color:orange"> (c) elif statement</span>

In [40]:
if (a == 1):
    print(1)
elif(a == 2):  # creates an 'else if' ladder 
    print(2)
else:
    print('0')

0

## __<span style="color:blue">Functions</span>__

~~~ python
> def Name(parameters):
>    statement 1
>    statement 2
>    ...
>    return value
~~~

In [43]:
def addition(a,b):    
    return a+b

x = 'karan'
y = 
#addition('karan','arjun')
#addition('1.2','2.2')

'1.22.2'

## __<span style="color:blue">Constructors</span>__

In the most simplest terms, Constructors tries to contruct new data object (of specific type) from existing data. Python have contructors for all most all the built-in data types. Some of the constructors that you should be aware of are:
- int()
- float()
- str()
- list()
- tuple()
- dict()

In [1]:
int(1.34) # converting float to int

1

In [3]:
float(1) # converting int to float

1.0

In [5]:
int('1') # converting str to int

1

In [6]:
l = ['one', 'two', 'three']
str(l) # converting list to str

"['one', 'two', 'three']"

## __<span style="color:blue">List comprehensions</span>__

In [6]:
# [i forLoop(*) condition(0-1)]

a = [i for i in range(11)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
# [i forloop condition]

b = [i for i in range(11) if i%2 == 0]
b

[0, 2, 4, 6, 8, 10]

In [8]:
b= []
for i in range(11):
    if i%2 == 0:
        b.append(i)
b

[0, 2, 4, 6, 8, 10]

In [9]:
# [i forloop forloop condition]

c = [i*j for i in range(11) for j in range(11) if (i*j)%2 == 0 and (i*j) != 0]
c

[2,
 4,
 6,
 8,
 10,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 6,
 12,
 18,
 24,
 30,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 10,
 20,
 30,
 40,
 50,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 60,
 14,
 28,
 42,
 56,
 70,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 80,
 18,
 36,
 54,
 72,
 90,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100]

#### <span style="color:brown">Note</span> :you cannot introduce  new variables or assign values, inside list comprehensions and lambda funtions. They are suppose to be simple one liner. Mostly used for minor Manipulation or filtering.

### <span style="color:red">Love python !!</span>