In [1]:
import pandas as pd

In [4]:
colors = ['Red', 'Blue', 'Green']
pd.Series(colors) #np.array - also giving indexes to the list, all the elements are object thats why dtype

0      Red
1     Blue
2    Green
dtype: object

In [9]:
numbers = [1,3,3,2]
pd.Series(numbers)

0    1
1    3
2    3
3    2
dtype: int64

In [8]:
numbers = [1.,3,3,2]
pd.Series(numbers)

0    1.0
1    3.0
2    3.0
3    2.0
dtype: float64

In [10]:
numbers = [1,3,'3',2]
pd.Series(numbers) # object most generic data type

0    1
1    3
2    3
3    2
dtype: object

In [11]:
colors = {'Apple':'Red',
         'Mango':'Yellow',
         'Orange':'Orange',
         'Grapes':'Green'}
s=pd.Series(colors)
s      # here dictionary keys are used as index

Apple        Red
Mango     Yellow
Orange    Orange
Grapes     Green
dtype: object

In [12]:
s.index

Index(['Apple', 'Mango', 'Orange', 'Grapes'], dtype='object')

In [13]:
s.values

array(['Red', 'Yellow', 'Orange', 'Green'], dtype=object)

In [14]:
s.keys

<bound method Series.keys of Apple        Red
Mango     Yellow
Orange    Orange
Grapes     Green
dtype: object>

In [16]:
s = pd.Series(['Red','Yellow','Orange','Green'])
s            #range index

0       Red
1    Yellow
2    Orange
3     Green
dtype: object

In [17]:
s = pd.Series(['Red','Yellow','Orange','Green'],
             index=['Apple','Mango','Orange','Green'])
s

Apple        Red
Mango     Yellow
Orange    Orange
Green      Green
dtype: object

In [18]:
s[0]

'Red'

In [20]:
s['Apple']

'Red'

In [21]:
s['Apple'], s[0]

('Red', 'Red')

In [22]:
import numpy as np

In [25]:
pd.read_clipboard()

Empty DataFrame
Columns: [s['Apple']]
Index: []